<style type="text/css" media="screen">
.gr_grid_container {
  /* customize grid container div here. eg: width: 500px; */
}

.gr_grid_book_container {
  /* customize book cover container div here */
  float: left;
  width: 98px;
  height: 160px;
  padding: 0px 0px;
  overflow: hidden;
}
</style>
<div id="gr_grid_widget_1579481199">
<!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
<div class="gr_grid_container">
<div class="gr_grid_book_container"><a title="死神永生 (三体 #Ⅲ)" rel="nofollow" href="https://www.goodreads.com/book/show/13314298"><img alt="死神永生" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1340624983l/13314298._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="黑暗森林 (三体, #2)" rel="nofollow" href="https://www.goodreads.com/book/show/9565614"><img alt="黑暗森林" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1287909512l/9565614._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="三体" rel="nofollow" href="https://www.goodreads.com/book/show/9574008"><img alt="三体" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1288065454l/9574008._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Catcher in the Rye" rel="nofollow" href="https://www.goodreads.com/book/show/5107.The_Catcher_in_the_Rye"><img alt="The Catcher in the Rye" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1398034300l/5107._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="1984" rel="nofollow" href="https://www.goodreads.com/book/show/40961427-1984"><img alt="1984" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1532714506l/40961427._SX98_.jpg" /></a></div>
<br style="clear: both"/><br/>
</div>

</div>
